VITE_USE_MOCK=true
VITE_ERP_BASE_URL=https://{tenant}.api.businesscentral.dynamics.com/v2.0/{env}/api/v2.0
VITE_TOKEN_URL=https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token
VITE_CLIENT_ID=
VITE_CLIENT_SECRET=
VITE_SCOPE=https://api.businesscentral.dynamics.com/.default
VITE_ERP_COMPANY_ID=
VITE_APP_NAME=Self Service Portal
